{% extends "layout.html" %}

{% block content %}
    <div class="container">
    <div class="row">
                <div class="col-10">
             <div id="maingraphs" >
                    <!-- Graficos van aca -->
                </div>
        </div>
        <div class="col-2">
            <div class="form-group mt-2">
                     <label for="categoria"> Categoria</label>  <select class="form-control" title="categoria" id="categoria" name="categoria"> </select>
       <input class="form-check-input" type="checkbox" id="ptrend" checked/>   <label class="form-check-label">Ptrend </label>
                <input  class="form-check-input"type="checkbox" id="pseasonal" checked/>   <label class="form-check-label">Pseasonal </label>
       <input class="form-check-input" type="checkbox" id="pdamped" name="pdampled"  checked/>   <label class="form-check-label">Pdamped </label> <br>
          <label for="puse">Puse</label>  <input  class="form-control" type="number" id="puse" min="0" max="1" step="0.01" /> <br>
                <button id="modificar" class="btn btn-primary"> Modificar </button>
                <button id="seguir" class="btn btn-primary"> Seguir </button>
        </div>
            </div>

    </div>

    </div>

    <script>
    const figs = {{ figs|safe }}
    const maingraphs = document.getElementById("maingraphs")
    const catselect = document.getElementById("categoria")
        for (const series in figs){
            const graphdiv = document.createElement("div")

            if (series !== "final"){
                const option = document.createElement("option")
                option.value = series
                option.innerText = series
                catselect.appendChild(option)
            }

            maingraphs.appendChild(graphdiv)
            const figdata = JSON.parse(figs[series])
            Plotly.plot(graphdiv,figdata,{});

        }
    console.log(figs)
    const categoria = document.getElementById("categoria")
    const ptrend = document.getElementById("ptrend")
    const pseasonal = document.getElementById("pseasonal")
    const pdamped = document.getElementById("pdamped")
    const puse = document.getElementById("puse")


    const modifyProyeccion = async (ptrend,pseasonal,puse,pdamped,categoria) =>
    {
           fetch('/modificarproyeccion', {
  method: 'POST', // Método de la solicitud (en este caso, podría ser GET, POST, etc.)
  headers: {
    'Content-Type': 'application/json' // Tipo de contenido que estás enviando
  },
  body: JSON.stringify({
      ptrend: ptrend,
      pseasonal: pseasonal,
      puse: puse,
      pdamped: pdamped,
      categoria: categoria,
  })
})
.then(response => {
  if (!response.ok) {
    throw new Error('Error al realizar la solicitud'); // Manejo de errores si la respuesta no es exitosa
  }
  return response.json(); // Devuelve la respuesta como JSON
})
.then(data => {
  // Manejo de la respuesta exitosa
  console.log(data);
})
.catch(error => {
  // Manejo de errores
  console.error('Se produjo un error:', error);
});
    }
    const modificar = document.getElementById("modificar")
    modificar.addEventListener("click",() => {modifyProyeccion(ptrend.value,pseasonal.value,puse.value,pdamped.value,categoria.value)})
    </script>
{% endblock %}