{% extends "layout.html" %}

{% block content %}
<style>
table.dataTable td {
  font-size: 0.9em;
      padding: 3px  !important;
}
table.dataTable th {
  font-size: 0.9em;
      padding: 3px !important;
}
</style>

<div class="container">
    <div class="row">
            <div class="col-9">
        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" style="width:90%" id="example" align="center">
	<thead>
		<tr>
			<th>Periodo</th>
			<th>PROTECTORES</th>
            <th>TAMPONES</th>
            <th>TOALLAS</th>
            <th>Nocturnas</th>
            <th>Normales</th>
            <th>Ultradelgadas</th>
            <th>Total General</th>
		</tr>
	</thead>
	<tbody>

	</tbody>
</table>

<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" style="width:90%" id="cre2" align="center">
	<thead>
		<tr>
			<th>Periodo</th>
			<th>PROTECTORES</th>
            <th>TAMPONES</th>
            <th>TOALLAS</th>
            <th>Nocturnas</th>
            <th>Normales</th>
            <th>Ultradelgadas</th>
            <th>Total General</th>
		</tr>
	</thead>
	<tbody>

	</tbody>
</table>
    </div>
<div class="col-3">
    <div class="card bg-light text-dark">
    <div class="card-header">Proceso de Sensibilizacion</div>
    <div class="card-body">
        <div class="container mt-6">
            <form>
                <label for="Valor">
                    Sensibilizar
                    <input type="number" name="Valor" id="Valor"
                        min="0" max="1200000000" step="0.1" value="0">
                    <input type="hidden" name="index" id="index">
                </label>

                <p>Movimientos:</p>
                <input type="radio" id="total1" name="totalizar" value="true" checked>
                <label for="age1">Vol. igual, repartir share</label><br>
                <input type="radio" id="total2" name="totalizar" value="false">
                <label for="age2">Vol. Incremental</label><br>

                <p>Opciones:</p>
                <input type="radio" id="age3" name="agex" value="30">
                <label for="age1">Puntual</label><br>
                <input type="radio" id="age4" name="agex" value="60">
                <label for="age2">De aqui en adelante</label><br>




            </form>
            <button id="rc" class="btn btn-dark" value="Recalcular">Recalcular</button> <br>
            <button id="reset" class="btn btn-success">Reiniciar Datos</button>

            </div>

    </div>
    <div class="card-footer">Datos en Unidades</div>
  </div>
</div>
    </div>

</div>

</div>







<script>

    const dt1 = {{ df2|safe }};

    const dt2 =  {{ df_cre2|safe }}


    $(document).ready(function() {

	const table = new DataTable($('#example').dataTable({
		data: dt1,
		    columns: [
		        { data: 'Periodo' },
                { data: 'PROTECTORES', render:DataTable.render.number(',', '.', 0, null, null)  },
                { data: 'TAMPONES' ,render:DataTable.render.number(',', '.', 0, null, null)},
		        { data: 'TOALLAS' ,render:DataTable.render.number(',', '.', 0, null, null) },
                { data: 'Nocturnas'  ,render:DataTable.render.number(',', '.', 0, null, null)},
                { data: 'Normales' ,render:DataTable.render.number(',', '.', 0, null, null) },
                { data: 'Ultradelgadas'  ,render:DataTable.render.number(',', '.', 0, null, null)},
                { data: 'Total General'  ,render:DataTable.render.number(',', '.', 0, null, null)}
    		],
        layout: {
        topStart: null,
        bottom: null,
        bottomStart: null,
        bottomEnd: null
        },
        searching: false,
        ordering: false
	}));
    const table2 = new DataTable($('#cre2').dataTable({
		data: dt2,
		    columns: [
		        { data: 'Periodo' },
                { data: 'PROTECTORES', render:DataTable.render.number(',', '.', 2, null, "%") },
                { data: 'TAMPONES', render:DataTable.render.number(',', '.', 2, null, "%") },
		        { data: 'TOALLAS' , render:DataTable.render.number(',', '.', 2, null, "%")},
                { data: 'Nocturnas' , render:DataTable.render.number(',', '.', 2, null, "%")},
                { data: 'Normales', render:DataTable.render.number(',', '.', 2, null, "%") },
                { data: 'Ultradelgadas' , render:DataTable.render.number(',', '.', 2, null, "%")},
                { data: 'Total General', render:DataTable.render.number(',', '.', 2, null, "%") }
    		],
        layout: {
        topStart: null,
        bottom: null,
        bottomStart: null,
        bottomEnd: null
        },
        searching: false,
        ordering: false
	}));

    $('#cre2').on('click', 'td', function () {
    var table = $('#cre2').DataTable();
    var cell = table.cell( this ).index();
    var data = table.cell( this ).data();
        console.log(data,cell);
        $("#Valor").val(data);
        $("#index").val(JSON.stringify([cell.row,cell.column]))
    })

});



</script>
<script>
 const recalcular = document.getElementById("rc")
 const url = "/changeDt";





const sendChanges = (data) => {
    const options = {
  method: "POST",
  headers: {
    "Content-Type": "application/json",
    // Cabeceras adicionales
    // ...
  },
  body: JSON.stringify(data),
};
fetch(url, options,data)
  .then((response) => response.json())
  .then((data) => {
    // Procesar la respuesta

        $('#example').DataTable().clear();
        $('#example').DataTable().rows.add(JSON.parse(data[0]));
        $('#example').DataTable().draw();
        $('#cre2').DataTable().clear();
        $('#cre2').DataTable().rows.add(JSON.parse(data[1]));
        $('#cre2').DataTable().draw();

  })
  .catch((error) => {
    // Manejar el error
    console.error("Error:", error);
  });
}

recalcular.addEventListener("click", function(event) {
    const change = document.getElementById("Valor").value
    const index = document.getElementById("index").value
    const totalizar = $('input[name="totalizar"]:checked').val();

    const data = {
  // Propiedades del objeto a enviar
  "valuechange": change,
  "indexchange": index,
        "totalizar": totalizar,
  // ...
};
    const indarray = JSON.parse(index)
    console.log(indarray)
     // Función que se ejecuta al hacer clic en el elemento
    if (indarray[1] === 3 ||indarray[1] === 0 || indarray[1] === 7 ){
        alert("No se pueden modificar columnas agregadas")
    }
    else{
            sendChanges(data)
    }
});

const resetData = () => {
    const options2 = {
  method: "POST",
  headers: {
    "Content-Type": "application/json",
  },}
    fetch("/reset",options2,{"A":"A"}).then((response) => response.json().then(
        () => {
           $('#example').DataTable().clear();
        $('#example').DataTable().rows.add(dt1);
        $('#example').DataTable().draw();
        $('#cre2').DataTable().clear();
        $('#cre2').DataTable().rows.add(dt2);
        $('#cre2').DataTable().draw();
 }
    ))
}

const reset = document.getElementById("reset")
 reset.addEventListener("click",() => {resetData()}
 )
</script>

{% endblock %}






